*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: "Noto Sans", sans-serif;
  color: #555555;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #C7F5FF;
}
@media screen and (max-width: 768px) {
  .header {
    z-index: -1;
  }
}
.header-wrapper {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-logo__img {
  width: 70px;
  height: auto;
}
.header-logo img {
  width: 100%;
  height: 100%;
}
.header-logo h1 {
  font-size: clamp(0.875rem, 0.739rem + 0.68vw, 1.25rem);
  font-weight: bold;
}
.header-logo h1 .logo-sub {
  font-size: clamp(0.75rem, 0.705rem + 0.23vw, 0.875rem);
}

.reserve-btn {
  position: absolute;
  right: 0;
  background-color: #F4F844;
  border-radius: 50px;
}
@media screen and (max-width: 1200px) {
  .reserve-btn {
    right: 15px;
  }
}
@media screen and (max-width: 768px) {
  .reserve-btn {
    bottom: -50px;
  }
}
.reserve-btn a {
  display: inline-block;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px 10px 50px;
}
.reserve-btn a::before {
  position: absolute;
  left: 20px;
  content: "";
  background-image: url(../img/reserve-icon.webp);
  width: 20px;
  height: 20px;
  background-size: cover;
}

.hum {
  position: fixed;
  top: 22px;
  right: 35px;
  width: 25px;
  height: 20px;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .hum {
    opacity: 1;
  }
}
.hum span {
  position: absolute;
  top: 0;
  width: 100%;
  height: 2px;
  background-color: #555555;
  transition: all 0.3s;
  display: none;
}
@media screen and (max-width: 768px) {
  .hum span {
    display: block;
    background-color: #fff;
  }
}
.hum span:nth-child(2) {
  top: 10px;
}
.hum span:nth-child(3) {
  top: 20px;
}
.hum.open span:nth-child(1) {
  top: 10px;
  transform: rotate(45deg);
}
.hum.open span:nth-child(2) {
  display: none;
}
.hum.open span:nth-child(3) {
  top: 10px;
  transform: rotate(-45deg);
}

.global {
  margin-top: 70px;
}
@media screen and (max-width: 768px) {
  .global {
    margin: unset;
  }
}
.global-nav {
  padding: 20px 0;
}
@media screen and (max-width: 768px) {
  .global-nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    color: #fff;
    background-color: #555555;
    opacity: 0;
  }
}
.global-nav.active {
  opacity: 1;
}
.global-nav.active .global-ul li {
  display: block;
}
.global-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .global-ul {
    position: absolute;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.global-ul li a {
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .global-ul li {
    display: none;
  }
}
.global-li1, .global-li2 {
  position: relative;
}
.global-li1 .sub-menu, .global-li2 .sub-menu {
  position: absolute;
  top: 2em;
  height: 0;
  min-height: 0;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s;
}
.global-li1 .sub-menu__li:not(:first-child), .global-li2 .sub-menu__li:not(:first-child) {
  margin-top: 0.5em;
}
.global-li1 .sub-menu__li a, .global-li2 .sub-menu__li a {
  display: block;
  color: #555555;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.75;
}
.global-li1 .sub-menu.active, .global-li2 .sub-menu.active {
  border: 2px solid #4A69D7;
}
.global-li1 .sub-menu {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .global-li1 .sub-menu {
    top: -50%;
    right: -100px;
  }
  .global-li1 .sub-menu__li a {
    color: #fff;
  }
}
.global-li1 .sub-menu.active {
  min-height: 54px;
}
.global-li2 .sub-menu {
  width: 13em;
}
@media screen and (max-width: 768px) {
  .global-li2 .sub-menu {
    top: -50%;
    right: -200px;
  }
  .global-li2 .sub-menu__li a {
    color: #fff;
  }
}
.global-li2 .sub-menu.active {
  min-height: 80px;
}
