@use "../global/" as *;

.contact {
  &-fv {
    position: relative;
    width: 100%;
    height: auto;

    &-img {

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &-inner {
    margin: 0 auto;
  }

  &-wrapper {
    margin-top: 60px;
  }

  .form-wrapper {
    width: 70%;
    margin: 0 auto;
    @include mq(SP520) {
      width: 85%;
    }
  }
  
  .form-item {
    &-textarea {
      height: 20vh;
      padding: 10px;
    }
  
    &-label {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      width: 100%;
      padding: 24px 0;
      font-size: 16px;
      color: $black;
  
      &-required {
        padding: 5px 8px;
        margin-right: 20px;
        color: #fff;
        font-size: 16px;
        border-radius: 10px;
        background-color: $grey;
      }
  
    }
    &-input {
      padding: 10px 35px;
    }
    &-textarea, &-input {
      width: 100%;
      color: $grey;
      background: $grey2;
    }
  }
  
  select {
    border: 1px solid #333;
    padding: 10px;
    border-radius: 10px;
  }
  .form-btn {
    display: block;
    max-width: 200px;
    padding: 18px 50px;
    text-align: center;
    margin: 60px  auto  0;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    background-color: $green2;
  }
  ::-webkit-input-placeholder {
    color: $grey;
    font-size: 14px;
  }
  ::-moz-placeholder {
    color: $grey;
    font-size: 14px;
  }
  :-ms-input-placeholder {
    color: $grey;
    font-size: 14px;
  }
  ::-ms-input-placeholder {
    color: $grey;
    font-size: 14px;
  }
  ::placeholder {
    color: $grey;
    font-size: 14px;
  }
}

