$main: #C7F5FF;
$skyblue: rgb(52, 215, 237, 37%);
$yellow: #F4F844;
$yellow3: rgb(209,236,131,31%);
$yellow2: rgba(244,248,68,80%);
$grey: #555555;
$grey2: rgba(217, 217,217,70%);
$white: #ffffff;
$white2: rgba(255,255,255,80%);
$white2:rgb(255,255,255,42%);
$blue: #4A69D7;
$blue2: #6ACEE3;
$blue3: rgba(18,66,102,50%);
$black: #333;
$green: #209E3C;
$green2: #209E3C;